# Uncomment and configure as your needs:
[main]
# directory= # (any, herietage from preprod group)
# max_size= # (any, herietage from preprod group)
# rsync_user= # (any, herietage from preprod group)
# monitor= # (any, herietage from preprod group)
[roles]
# example-group-preprod.cfg  # preferece over bottom, 'd_conf'+'roles/' path automatically added before
# example-linuxbase.cfg  # 'd_conf'+'roles/' path automatically added before
[hosts]
# balancer1.preprod.mydomain
# web-tier[1-5].preprod.mydomain
# db1.preprod.mydomain
# mailx.preprod.mydomain
[files]
# empty (herietage from linuxbase group)
