# Keepconf configuration file

[Main]
# Directory with the hosts configuration files
D_Conf = /etc/keepconf/hosts/

# Directory for store remote files
D_Dest = /var/keepconf/hosts/

# Monitor file
Monitor_File = /var/keepconf/keepconf-mon.csv

# Default global monitor host behaviour
#Monitor_Hosts = True


[Sync]
# Fetching files
#Fetch=True

# Pre get directory
Pre_Get = /etc/keepconf/pre-get.d/

# Post get directory
Post_Get = /etc/keepconf/post-get.d/

# Default global max file limit to fetch
#Max_Size = 25M

# Default global user for connect to other hosts
#Rsync_User = root 

# Rsync options
#Rsync_Opt = "arHvzL"


[VCS]
# Committing changes
#Commit = True

# Pre commit directory
Pre_Commit = /etc/keepconf/pre-commit.d/

# Post commit directory
Post_Commit = /etc/keepconf/post-commit.d/

# Define type of git repository
#Repo = False
Repo="local"
#Repo="ssh://user@host/rute/to/repo"
