# Uncomment and configure as your needs:
[main]
# empty
[files]
# /etc/*  # all /etc/ recursively
# /home/  # only home users
# !/home/user[1-2]/  # except user1 and user2
# &/home/user1/.bashrc  # but inside user1 only .bashrc
# /opt/mysw/conf/*  # other directory recursively
