# Keepconf configuration file

[main]
# List with host to fetch (comma separated allowed)
list_hosts = /etc/keepconf/servers/hosts_prod.lst, /etc/keepconf/servers/hosts_dev.lst

# List with files to fetch (comma separated allowed)
list_files = /etc/keepconf/servers/files_default.lst, /etc/keepconf/servers/files_env1.lst

# Directory for store remote files
d_dest = /var/keepconf/hosts/

# Destination path for .csv files
d_monitor = /var/tmp/keepconf/


[sync]
# Fetching files
#fetch=True

# Pre get directory
pre_get = /etc/keepconf/pre-get.d/

# Post get directory
post_get = /etc/keepconf/post-get.d/

# Default global max file limit to fetch
#max_size = 25M

# Default global user for connect to other hosts
#rsync_user = backup

# Rsync options
#rsync_opt = "arHvzL"


[vcs]
# Committing changes
#commit = True

# Pre commit directory
pre_commit = /etc/keepconf/pre-commit.d/

# Post commit directory
post_commit = /etc/keepconf/post-commit.d/

# Define type of git repository
#repo = False
repo="local"
#repo="ssh://user@host/rute/to/repo"
